@media only screen and (max-width: 455px) {

    body {
        background-color: rgb(23, 85, 40);
    }

    .bBackground {
        flex-direction: column;
    }
}

@media screen and (orientation:landscape) {
    /* body{
        background-color: rgb(91, 91, 120);
        color: antiquewhite;
        border: 3px solid rebeccapurple;
        } */
}

body {
    background-color: rgb(207, 207, 209);
}

.heading0{
    background-color: rgb(23, 75, 127);
    width: 100%;
}

.logo1 {
    width: 100px;
    height: 15vh;
    border-radius: 50%;
    /* min-height: auto; */
    /* margin-left: 20%; */
    /* margin-right: 100%; */
}

h1{
    color: rgb(143, 111, 67);
    text-align:start;
    margin-left: -10%;
}

* {
    margin: 0%;
    padding: 0%;
}



.link1 {
    text-align: center;
    background-color: rgb(147, 163, 197);
    width: 100%;
   
}


/* .link1 th>li{
    list-style: none;
} */

h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(45, 35, 19);
    text-decoration-thickness: 2px;
    color: rgba(10, 59, 89, 0.907);
}

.Limage {
    width: 100%;
    height: 200px;

}

a:visited {
    color: rgb(21, 2, 53);
}

a:link {
    color: rgb(69, 59, 25);
}

a:active {
    background-color: rgb(98, 111, 167);
}

nav {
    background-color: rgba(39, 50, 84, 0.627);
    border: 3px darkolivegreen;
}

.box {
    height: 130px;
    width: 240px;
    padding: 3px;
    margin: 3px;
    border: 4px solid black;
    overflow: hidden;
    display: flex;
}

.Acontain {
    height: 190px;
    width: 240px;
    padding: 3px;
    border-radius: 0%;
}

.bBackground {
    background-image: image-set("https://i.etsystatic.com/iap/5db843/4366588478/iap_600x600.4366588478_jphdhobo.jpg?version=0");
    position: relative;
    margin-right: 50%;
    display: flex;
    display: grid;
    justify-content: center;
    bottom: 10px;
    left: 25%;
    transform: translate(-0%, -1%);
    
}

.TABLE2{
    overflow-x: auto;
}



.box1 {

    border: 2px solid black;
    background-color: rgb(25, 51, 78);
    color: aliceblue;

}

.box2 {
    border: 2px solid black;
    background-color: rgb(15, 57, 79);
    /* overflow: hidden; */
    color: aliceblue;

}

.box3 {
    background-color: rgb(6, 33, 2);
    /* overflow: hidden; */
    color: aliceblue;

}

.box4 {
    /* overflow: hidden; */
    background-color: rgb(6, 33, 2);
    color: rgb(183, 193, 202);
}

.box5 {
    background-color: rgb(15, 57, 79);
    /* overflow: hidden; */
    color: rgb(234, 238, 243);
}

.box6 {
    /* overflow: hidden; */
    background-color: rgb(25, 51, 78);
    color: rgb(126, 83, 9);
}

.ETBOX {
    position: relative;
    top: 10px;
    height: 210px;
    width: 96vw;
    padding: 3px;
    margin: 3px;
    overflow: auto;
    /* border: 3px solid black */
}

footer{
    background-color: rgb(157, 121, 91);
    text-align: center;
    margin-bottom: 30px;
}

.OtherLinks{
    /* position: relative; */
    height: 10px;
    border: 10px solid rgb(14, 14, 36);
    margin: 0%;
    padding: 10%;
    width: 78vw;
}

.Limages{
    margin-top: -10%;
    width: 10%;
    padding-left: 10%;
    /* padding: 10%; */
}

.OLpic1{
    border-radius: 100%;

}
.OLpic2{
    height: 200px;
    border: 10px solid rgb(0, 1, 2);
    border-radius: 100%;
}
.OLpic3{
    border-radius: 100%;
}
